<section data-ng-controller="WeatherforcastsController">
	<div data-ng-init="getWeather()">
		<div ng-repeat="weatherParam in weatherParams"  >
			<div class="page-header">
				<h1>Station {{weatherParam.station_id}}</h1>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-4 text-center">
					<img degrees='weatherParam.wind_dir_degrees' rotate src='/modules/weatherforcasts/img/compass-needle.png' />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-4 text-center">
					{{weatherParam.observation_time}}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-4 text-center">
					{{weatherParam.wind_speed_kt}}kt
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-4 text-center">
					{{weatherParam.temp_c}}°C
				</div>
			</div>
		</div>
	</div>

	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
		</ui-gmap-markers>
	</ui-gmap-google-map>
</section>