<section data-ng-controller="WeatherforcastsController">
	<button ng-click="getBulletin()">
	coucou
	</button>
	<div ng-hide="!weatherParam.station_id">

		<row>
			<div class="col-xs-12 page-header">
				<h1>Station {{weatherParam.station_id}}</h1>
			</div>
			<div class="col-xs-5">
				<div class="col-xs-12 text-center">
					<img degrees='weatherParam.wind_dir_degrees' rotate src='/modules/weatherforcasts/img/compass-needle.png' />
				</div>
				<div class="col-xs-12 text-center">
					{{weatherParam.observation_time}}
				</div>
				<div class="col-xs-12 text-center">
					{{weatherParam.wind_speed_kt}}kt
				</div>
				<div class="col-xs-12 text-center">
					{{weatherParam.temp_c}}°C
				</div>
			</div>
			<div class="col-xs-7">
				<div class="col-xs-12 text-center">
					<div google-chart chart="windChart" style="height:200px; width:100%;"></div>
				</div>
				<row>
					<select class="col-xs-6" ng-model="weatherParam1"
					ng-options="opt as opt.label for opt in options" ng-change="ngCreateChart()">
					</select>
					<select class="col-xs-6" ng-model="weatherParam2"
						ng-options="opt as opt.label for opt in options" ng-change="ngCreateChart()">
					</select>
				</row>
			</div>
		</row>
	</div>
	<div class="col-xs-12 text-center">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
	<div ng-repeat="marker in markers"  >
		<ui-gmap-marker doCluster="true" clusterOptions="clusterOptions" coords="marker.coords" idkey="marker.id" events="marker.events" icon="marker.icon" models="puMarkers">
		</ui-gmap-marker>
	</div>
	</ui-gmap-google-map>
	</div>


</section>